02-Equipe-Marketing-Trafego/n8n-workflows/03-lembrete-semanal-conteudo.json
{
  "name": "NR1 · Lembrete Semanal de Conteúdo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 10 * * 0" }]
        }
      },
      "name": "Todo domingo 10h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const hoje = new Date();\nconst inicio2026 = new Date('2026-01-04');\nconst diffMs = hoje - inicio2026;\nconst diffSemanas = Math.floor(diffMs / (7 * 24 * 60 * 60 * 1000));\nconst semanaNum = (diffSemanas % 8) + 1;\n\nconst temas = {\n  1: { nome: 'Fundamentos NR-1', seg: 'Carrossel: O que mudou na NR-1 em 2024', ter: 'Reels: Empresa multada por não ter PGR', qui: 'Carrossel: 5 erros que geram autuação', sex: 'Reels: Por que Guilherme escreveu esse eBook' },\n  2: { nome: 'Riscos Psicossociais', seg: 'Carrossel: O que são riscos psicossociais (5 grupos)', ter: 'Reels: Funcionário afastado por burnout', qui: 'Carrossel: Checklist — sua empresa tem esses 5 riscos?', sex: 'Reels: Isso não é papelada — é gestão de pessoas' },\n  3: { nome: 'PGR na Prática', seg: 'Carrossel: PGR — o que é, quem precisa, como fazer', ter: 'Reels: Auditoria surpresa — o que o fiscal procura', qui: 'Carrossel: PGR genérico vs. PGR real', sex: 'Reels: O que aprendi ajudando empresas com NR-1' },\n  4: { nome: 'Custo de Não Agir', seg: 'Carrossel: Infográfico multa + MPT + passivo', ter: 'Reels: Empresa interditada — o que aconteceu', qui: 'Carrossel: Calculadora de risco', sex: 'Reels: Adequar custa fração de não adequar' },\n  5: { nome: 'Checklist Prático', seg: 'Carrossel: Capítulo 5 do eBook', ter: 'Reels: Em 1 tarde você tira empresa da zona de risco', qui: 'Carrossel: Passo a passo do zero à proteção', sex: 'Reels: Depoimento de cliente que implementou' },\n  6: { nome: 'Autoridade', seg: 'Carrossel: Quem é Guilherme Avelar', ter: 'Reels: Gestão + tributos + SST', qui: 'Carrossel: Parceria com profissional SST', sex: 'Reels: Não sou especialista em segurança — sou em empresas' },\n  7: { nome: 'Empatia', seg: 'Carrossel: Você tem 5 a 200 funcionários? É com você.', ter: 'Reels: A padaria, a clínica, a loja — todos têm obrigação', qui: 'Carrossel: Dono que descobriu tarde', sex: 'Reels: Não precisa virar especialista' },\n  8: { nome: 'Produto + CTA', seg: 'Carrossel: O que está no eBook', ter: 'Reels: R$27 que podem evitar multa', qui: 'Carrossel: Grupo WhatsApp — o que você recebe', sex: 'Reels: Convite direto para o grupo' }\n};\n\nconst semana = temas[semanaNum] || temas[1];\nconst amanha = new Date(hoje.getTime() + 24 * 60 * 60 * 1000);\nconst dataStr = amanha.toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit' });\n\nlet msg = `📅 SEMANA ${semanaNum}/8 — ${semana.nome}\\nEmpresa Protegida™ · inicia ${dataStr}\\n\\nProgramação:\\n• SEG 7h30: ${semana.seg}\\n• TER 19h: ${semana.ter}\\n• QUI 18h: ${semana.qui}\\n• SEX 7h30: ${semana.sex}\\n• SAB 10h: Feed foto (quote ou autoridade)\\n\\n✅ Produzir hoje:\\n□ Roteiro Reels de terça\\n□ Slides carrossel de segunda\\n□ Arte/foto para sexta\\n□ Stories de quarta (enquete)\\n□ Post de sábado`;\n\nreturn [{ json: { mensagem: msg } }];"
      },
      "name": "Montar checklist da semana",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "198613263",
        "text": "={{ $json.mensagem }}",
        "additionalFields": {}
      },
      "name": "Enviar para Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [680, 300],
      "credentials": { "telegramApi": { "name": "Telegram · Empresa Protegida" } }
    }
  ],
  "connections": {
    "Todo domingo 10h": { "main": [[{ "node": "Montar checklist da semana", "type": "main", "index": 0 }]] },
    "Montar checklist da semana": { "main": [[{ "node": "Enviar para Telegram", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["empresa-protegida", "conteudo"]
}
