02-Equipe-Marketing-Trafego/n8n-workflows/03-lembrete-semanal-conteudo.json
{
  "name": "NR1 · Lembrete Semanal de Conteúdo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 10 * * 0" }]
        }
      },
      "name": "Todo domingo 10h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calcula a semana atual e monta checklist de conteúdo\nconst hoje = new Date();\nconst inicio2026 = new Date('2026-01-04'); // primeira semana\nconst diffMs = hoje - inicio2026;\nconst diffSemanas = Math.floor(diffMs / (7 * 24 * 60 * 60 * 1000));\nconst semanaNum = (diffSemanas % 8) + 1; // ciclo de 8 semanas\n\n// Cronograma de temas por semana\nconst temas = {\n  1: {\n    nome: 'Fundamentos NR-1',\n    seg: 'Carrossel: O que mudou na NR-1 em 2024 (linha do tempo)',\n    ter: 'Reels: Empresa multada por não ter PGR',\n    qui: 'Carrossel: 5 erros que geram autuação',\n    sex: 'Reels: Por que Guilherme escreveu esse eBook'\n  },\n  2: {\n    nome: 'Riscos Psicossociais',\n    seg: 'Carrossel: O que são riscos psicossociais (5 grupos)',\n    ter: 'Reels: Funcionário afastado por burnout — a empresa pagou',\n    qui: 'Carrossel: Checklist — sua empresa tem esses 5 riscos?',\n    sex: 'Reels: Isso não é papelada — é gestão de pessoas'\n  },\n  3: {\n    nome: 'PGR na Prática',\n    seg: 'Carrossel: PGR — o que é, quem precisa, como fazer',\n    ter: 'Reels: Auditoria surpresa — o que o fiscal procura primeiro',\n    qui: 'Carrossel: PGR genérico vs. PGR real',\n    sex: 'Reels: O que aprendi ajudando empresas com a NR-1'\n  },\n  4: {\n    nome: 'Custo de Não Agir',\n    seg: 'Carrossel: Infográfico multa + MPT + passivo trabalhista',\n    ter: 'Reels: Empresa interditada — o que aconteceu',\n    qui: 'Carrossel: Calculadora de risco de exposição',\n    sex: 'Reels: Adequar custa uma fração do que não adequar'\n  },\n  5: {\n    nome: 'Checklist Prático',\n    seg: 'Carrossel: Capítulo 5 do eBook — checklist inicial',\n    ter: 'Reels: Em 1 tarde você pode tirar sua empresa da zona de risco',\n    qui: 'Carrossel: Passo a passo — do zero à proteção',\n    sex: 'Reels: Depoimento de cliente que implementou'\n  },\n  6: {\n    nome: 'Autoridade',\n    seg: 'Carrossel: Quem é Guilherme Avelar (história + credenciais)',\n    ter: 'Reels: Gestão + tributos + SST — a combinação que ninguém tem',\n    qui: 'Carrossel: Parceria com profissional SST habilitado',\n    sex: 'Reels: Não sou especialista em segurança — sou em empresas'\n  },\n  7: {\n    nome: 'Empatia com o Dono',\n    seg: 'Carrossel: Você tem 5 a 200 funcionários? É com você.',\n    ter: 'Reels: A padaria, a clínica, a loja — todos têm obrigação',\n    qui: 'Carrossel: Dono que descobriu tarde — o que mudou',\n    sex: 'Reels: Não precisa virar especialista. Precisa estar protegido.'\n  },\n  8: {\n    nome: 'Produto + CTA',\n    seg: 'Carrossel: O que está no eBook (preview dos capítulos)',\n    ter: 'Reels: R$27 que podem evitar R$XX.000 de multa',\n    qui: 'Carrossel: Grupo WhatsApp — o que você recebe lá dentro',\n    sex: 'Reels: Guilherme — convite direto para o grupo'\n  }\n};\n\nconst semana = temas[semanaNum] || temas[1];\n\n// Data de amanhã (segunda)\nconst amanha = new Date(hoje.getTime() + 24 * 60 * 60 * 1000);\nconst dataStr = amanha.toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit' });\n\nlet msg = `📅 SEMANA ${semanaNum}/8 — ${semana.nome}\\n`;\nmsg += `Empresa Protegida™ · inicia ${dataStr}\\n\\n`;\nmsg += `Programação:\\n`;\nmsg += `• SEG 7h30: ${semana.seg}\\n`;\nmsg += `• TER 19h: ${semana.ter}\\n`;\nmsg += `• QUI 18h: ${semana.qui}\\n`;\nmsg += `• SEX 7h30: ${semana.sex}\\n`;\nmsg += `• SAB 10h: Feed foto (quote ou autoridade)\\n\\n`;\nmsg += `✅ Checklist de produção:\\n`;\nmsg += `□ Roteiro do Reels de terça\\n`;\nmsg += `□ Slides do carrossel de segunda\\n`;\nmsg += `□ Arte/foto para sexta\\n`;\nmsg += `□ Stories de quarta (enquete/quiz)\\n`;\nmsg += `□ Post de sábado (foto + legenda)\\n\\n`;\nmsg += `💡 Ferramenta: Canva (carrosséis) + CapCut (Reels)`;\n\nreturn [{ json: { mensagem: msg } }];"
      },
      "name": "Montar checklist da semana",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.mensagem }}",
        "additionalFields": {}
      },
      "name": "Enviar para Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [680, 300],
      "credentials": { "telegramApi": { "name": "Telegram · Empresa Protegida" } }
    }
  ],
  "connections": {
    "Todo domingo 10h": { "main": [[{ "node": "Montar checklist da semana", "type": "main", "index": 0 }]] },
    "Montar checklist da semana": { "main": [[{ "node": "Enviar para Telegram", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["empresa-protegida", "conteudo", "instagram"]
}
