02-Equipe-Marketing-Trafego/n8n-workflows/04-lembrete-diario-postagem.json
{
  "name": "NR1 · Lembrete Diário de Postagem",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 20 * * *" }]
        }
      },
      "name": "Todo dia 20h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const hoje = new Date();\nconst amanha = new Date(hoje.getTime() + 24 * 60 * 60 * 1000);\nconst diaSemana = amanha.getDay();\n\nconst agenda = {\n  0: null,\n  1: { formato: '📊 Carrossel', hora: '7h30', pilar: 'Educação', checklist: '□ Slides no Canva (5–8 slides)\\n□ Slide 1: gancho forte\\n□ Último slide: CTA (eBook ou Grupo WA)\\n□ Legenda escrita\\n□ Hashtags (máx 10)' },\n  2: { formato: '🎬 Reels', hora: '19h00', pilar: 'Urgência', checklist: '□ Roteiro gravado / filmado\\n□ Editado no CapCut (30–60s)\\n□ Legendas automáticas\\n□ Thumbnail definida\\n□ Legenda + CTA escrita' },\n  3: { formato: '📲 Stories', hora: '12h00', pilar: 'Engajamento', checklist: '□ 3–5 stories planejados\\n□ Enquete ou quiz criado\\n□ Link do eBook/WA no último story' },\n  4: { formato: '📊 Carrossel', hora: '18h00', pilar: 'Solução', checklist: '□ Slides no Canva (5–8 slides)\\n□ Slide 1: gancho forte\\n□ Último slide: CTA\\n□ Legenda escrita' },\n  5: { formato: '🎬 Reels', hora: '7h30', pilar: 'Autoridade', checklist: '□ Roteiro gravado / filmado\\n□ Editado (30–60s)\\n□ Legendas automáticas\\n□ Legenda + CTA escrita' },\n  6: { formato: '📷 Feed Foto', hora: '10h00', pilar: 'Autoridade', checklist: '□ Foto selecionada ou criada\\n□ Arte finalizada (1080x1080)\\n□ Legenda com quote\\n□ CTA no final da legenda' }\n};\n\nconst postagem = agenda[diaSemana];\nconst nomesDia = ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'];\nconst nomeAmanha = nomesDia[diaSemana];\nconst dataStr = amanha.toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit' });\n\nif (!postagem) {\n  return [{ json: { mensagem: `📲 AMANHÃ É DOMINGO (${dataStr})\\n\\nNenhuma postagem obrigatória.\\n✅ Opcional: Stories de bastidores às 16h.\\n\\nDescanse e prepare a semana! 💪` } }];\n}\n\nconst msg = `⏰ AMANHÃ: ${nomeAmanha} ${dataStr}\\n\\n${postagem.formato} às ${postagem.hora}\\nPilar: ${postagem.pilar}\\n\\n✅ Checklist:\\n${postagem.checklist}\\n\\n💡 Agendar no Meta Business Suite para ${postagem.hora}.`;\n\nreturn [{ json: { mensagem: msg } }];"
      },
      "name": "Montar lembrete de amanhã",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "198613263",
        "text": "={{ $json.mensagem }}",
        "additionalFields": {}
      },
      "name": "Enviar para Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [680, 300],
      "credentials": { "telegramApi": { "name": "Telegram · Empresa Protegida" } }
    }
  ],
  "connections": {
    "Todo dia 20h": { "main": [[{ "node": "Montar lembrete de amanhã", "type": "main", "index": 0 }]] },
    "Montar lembrete de amanhã": { "main": [[{ "node": "Enviar para Telegram", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["empresa-protegida", "conteudo"]
}
